<div class="container-fluid">
    <div class="container pt-30 mb-30">
        <div class="container-head">
            <div class="container-left">
            <h3 class="container-title">Booking List</h3>
            </div>
            <div class="container-right">
            <a routerLink="/add-booking" aria-label="Add Booking" class="btn btn-primary" data-toggle="modal" data-target="#addBookingModal">Add Booking</a>
            </div>
        </div>
        <div class="content-tab">
            <a class="content-tab_link active">Your Bookings</a>
        </div>
    </div>
</div>