<!-- <app-header></app-header> -->
<div class="container-fluid">
    <div class="calendar-wrapper">
      <div class="container">
        <h3 class="main-title">Calendar</h3>
        <div class="row">
          <div class="col-lg-9">
            <div class="tile">Calendar</div>
          </div>
          <div class="col-lg-3">
            <div class="tile">
              <h3 class="tile-title">Saturday, 19 Dec 2022</h3>
              <div class="booking-wrapper">
                <div class="booking-block">
                  <h5>Bookings</h5>
                  <a href="#"  aria-label="Add Employees"><img src="../../../assets/images/add-btn-1.svg" alt="Add"></a>
                </div>
                <div class="booking-block employees">
                  <div class="booking-block-lt">
                    <div class="icon-block"><i class="icon-employees"></i></div>
                    <div class="info-block">
                      <h5>Employees</h5>
                      <h3>200</h3>
                    </div>
                  </div>
                  <a href="#" aria-label="Add Employees"><img src="../../../assets/images/add-btn-2.svg" alt="Add"></a>
                </div>
                <div class="booking-block non-employees">
                  <div class="booking-block-lt">
                    <div class="icon-block"><i class="icon-employees"></i></div>
                    <div class="info-block">
                      <h5>Non Employees</h5>
                      <h3>160</h3>
                    </div>
                  </div>
                  <a href="#" aria-label="Add Employees"><img src="../../../assets/images/add-btn-2.svg" alt="Add"></a>
                </div>
                <div class="booking-block buffer">
                  <div class="booking-block-lt">
                    <div class="icon-block"><i class="icon-buffer"></i></div>
                    <div class="info-block">
                      <h5>Buffer</h5>
                      <h3>180</h3>
                    </div>
                  </div>
                  <a href="#" aria-label="Add Buffer"><img src="../../../assets/images/add-btn-2.svg" alt="Add"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->