<section class="contact-us">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="section-heading">
                <h2>Message</h2>
            </div>
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                        </fieldset>
                        <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                        </fieldset>
                        <fieldset>
                            <input name="phone" type="text" class="form-control" id="phone" placeholder="Your phone..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                        </fieldset>
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="section-heading contact-info">
                <h2>Contact Info</h2>
                <p>University College of Engineering, located near Thodupuzha, is an institute of engineering and technology, run and managed by the Centre for Professional and Advanced Studies, established by the Government of Kerala. UCE offers both bachelor's and master's degree courses<br><br><em>Idukki Road, Thodupuzha, <br> Muttom, Kerala 685587</em></p>
            </div>
        </div>
    </div>
</div>
</section>